@page
@model KelleSolutions.Areas.Identity.Pages.Account.Login.LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<link rel="stylesheet" href="~/css/register.css" />

<div class="container mt-5">
    <header>
        <img src="~/images/KELLE_logo_fullcolor.png" alt="Kelle Logo" style="margin-bottom: 20px;">
    </header>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h4 class="log-in-heading">Recovery code verification</h4>
                    </div>
                    <p class="text-center">
                        You have requested to log in with a recovery code. This login will not be remembered until you provide
                        an authenticator app code at log in or disable 2FA and log in again.
                    </p>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                        <!-- Recovery Code Input -->
                        <div class="mb-3">
                            <label asp-for="Input.RecoveryCode" class="form-label">Recovery Code</label>
                            <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Enter your recovery code" />
                            <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
