@page
@model ForgotPasswordModel
<link rel="stylesheet" href="~/css/register.css" />
@{
    ViewData["Title"] = "Forgot password";
}

<div class="container mt-5">
    <header>
        <img src="~/images/KELLE_logo_fullcolor.png" alt="Kelle Logo"  style="margin-bottom: 20px;">
    </header>
    <div class="row justify-content-center">
        <div class="col-lg-6">
        <h2 class="text-center mb-4" style="margin-bottom: 20px;">Forgot Password</h2>
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                    </div>
                    <form id="loginForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                        <h4 class="text-center mb-4">
                        <div class = "log-in-heading" style="margin-bottom: 20px;"> 
                        Please enter your email address associated with your account to be sent a temporary code
                        </div>
                        </h4>

                        <!-- Email or Phone Number -->
                        <div class="mb-3" >
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="d-grid">
                        <button id="Submit" type="submit" class="btn btn-primary btn-lg"style="margin-top: 20px;">Next</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
