@page
@model ForgotPasswordModel
<img src="~/images/kelleslogo.png">
<link rel="stylesheet" href="~/css/forgotpassword.css" />
@{
    ViewData["Title"] = "Forgot password";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter either your email address or phone number for a</h2>
<h2>temporary code.</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.EmailOrPhoneNum" input class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.EmailOrPhoneNum" class="form-label">Email or Phone Number</label>
                <span asp-validation-for="Input.EmailOrPhoneNum" class="text-danger"></span>
            </div>
            <button id="Submit" type="submit">Next</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
