@page
@model LoginModel

@{
    ViewData["Title"] = "";
}
<body class="bg-black">
<h1 class="text-white">@ViewData["Title"]</h1>
<header class="text-center my-4">
        <img src="/images/kelleslogo.png" alt="Logo" class="img-fluid" style="max-width: 200px;">
    </header>
<div class="row">
        <section>
            <form id="account" method="post">
                <h2 class="text-white">Sign into your account</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.EmailOrPhone" class="form-control" autocomplete="username" aria-required="true" placeholder="Email or Mobile Number" />
                    <label asp-for="Input.EmailOrPhone" class="form-label text-">Email or mobile number</label>
                    <span asp-validation-for="Input.EmailOrPhone" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <p class="text-end">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-white">Forgot password?</a>
                    </p>
                    <button id="login-submit" type="submit" class="w-25 btn btn-md btn-light btn-primary text-dark rounded-pill fw-bold fs-6">Sign In</button>
                </div>
                <div class="mt-3">
                    <p>
                        <span class="text-white">New User?</span>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-white">Sign Up</a>
                    </p>
                </div>
            </form>
        </section>
        </div>
        </section>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
