@page
@model LoginModel
@{
    ViewData["Title"] = "";
}

<link rel="stylesheet" href="~/css/register.css" />

<div class="container mt-5">
    <header>
        <img src="~/images/kelleslogo.png" alt="Kelle Logo">
    </header>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                    </div>
                    <h4 class="text-center mb-4">Sign into your account</h4>
                    <form id="loginForm" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                        <!-- Email or Phone Number -->
                        <div class="mb-3">
                            <label asp-for="Input.EmailOrPhone" class="form-label">Email or Phone Number</label>
                            <input asp-for="Input.EmailOrPhone" class="form-control" autocomplete="username" placeholder="Enter your email or phone number" />
                            <span asp-validation-for="Input.EmailOrPhone" class="text-danger"></span>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" placeholder="Enter your password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <!-- Forgot Password and Sign In Button -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a asp-page="./ForgotPassword" class="text-decoration-none">Forgot password?</a>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                        </div>

                        <!-- Register Link -->
                        <div class="text-center mt-3">
                            <span>New User? </span>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none">Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
