@page
@model PasswordRecoverVerification
@{
    ViewData["Title"] = "Enter Verification Code";
}

<link rel="stylesheet" href="~/css/passwordrecoververification.css" />

<img src="~/images/kelleslogo.png" alt="KELLE Logo">
<h2 class="title">Enter the verification code in the box</h2>

<form method="post" class="recover-verification-form">
    <input asp-for="Input.Verification" class="form-control" autocomplete="verify" aria-required="true" placeholder="Code" />
    <span asp-validation-for="Input.Verification" class="validation-error"></span>

    <span class="validation-error">@ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage</span>

    <button type="submit" class="verify-button">Verify</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
