@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<link rel="stylesheet" href="~/css/resetpassword.css" />

<img src="~/images/kelleslogo.png" alt="KELLE Logo">
<h2 class="title">Change Password</h2>

<form method="post" class="change-password-form">
    <input asp-for="Input.Code" type="hidden" />
    <input asp-for="Input.Email" type="hidden" value="@Model.Input.Email" />

    <div class="form-group">
        <input asp-for="Input.Password" 
               class="form-control" 
               autocomplete="new-password" 
               aria-required="true" 
               placeholder="New Password" />
        <span asp-validation-for="Input.Password" class="validation-error"></span>
    </div>

    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" 
               class="form-control" 
               autocomplete="new-password" 
               aria-required="true" 
               placeholder="Confirm New Password" />
        <span asp-validation-for="Input.ConfirmPassword" class="validation-error"></span>
    </div>

    <button type="submit" class="verify-button">Verify</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}