@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" href="~/css/resetpassword.css" />

<img src="~/images/kelleslogo.png" alt="KELLE Logo">

<div class="success-message">
    <h2>Your password has been successfully changed!</h2>
    <p>You will be redirected to the login screen in a<br />few seconds. Please use your new password to<br />log in.</p>

    <div class="redirect-message">
        If you are not redirected automatically, please click the button below to go to the login page.
    </div>

    <a asp-page="/Account/Login" class="return-btn">Return to Login</a>
</div>