@* 
    This is the layout page for Kelle Solutions. It provides the overall structure for the application by defining common HTML elements like the header, navigation bar, and footer, as well as rendering the main content of each page.
    Features:
    - Responsive layout using Bootstrap
    - Navigation links to Home and Privacy pages
    - Dynamic content insertion using Razor's `@RenderBody()` and `@RenderSectionAsync()`
    - Includes a partial view for login/logout functionality
    - Footer with privacy link
    - External resources for Bootstrap and jQuery
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<KelleSolutions.Models.User> SignInManager
@inject UserManager<KelleSolutions.Models.User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kelle Solutions</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KelleSolutions.styles.css" asp-append-version="true" />
</head>
<body>
    @if (Context.Request.Path != "/Admin/adminDashboard")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Kelle Solutions</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    }

    @* Collapsible Sidebar Navbar, only visible when the user is signed in and on specified pages *@
@if (SignInManager.IsSignedIn(User) && (Context.Request.Path == "/AT_Dashboard" || Context.Request.Path == "/Roles/Roles" || Context.Request.Path == "/Listings/Listings"
    || Context.Request.Path == "/Listings/ViewListing" || Context.Request.Path == "/Affiliations/CreateAffiliate" || Context.Request.Path == "/Transactions/Transactions"
    || Context.Request.Path == "/Entities/Entities" || Context.Request.Path == "/Entities/ViewEntities" || Context.Request.Path == "/People/People" 
    || Context.Request.Path == "/People/ViewPeople" || Context.Request.Path == "/Properties/Properties" || Context.Request.Path == "/Leads/Leads" || Context.Request.Path == "/Properties/ViewProperty"))
    
{
    <div class="d-flex">
        <button id="sideNavbarToggle" class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideNavbar" aria-expanded="false" aria-controls="sideNavbar">
            &#9776; <!-- Hamburger icon -->
        </button>
        <div class="collapse" id="sideNavbar">
            <nav class="sidebar-nav flex-column" id="sideNavContent">
                <button class="closebtn" data-bs-toggle="collapse" data-bs-target="#sideNavbar">&times;</button> <!-- close button icon -->
                <a class="sidebar-link" href="/AT_Dashboard">
                    <img class ="img-fluid"src="/images/dashboard.png" id="icons" alt="dashboardicon"> 
                    Dashboard
                </a>
                <a class="sidebar-link" href="/Roles/Roles">
                    <img class ="img-fluid"src="/images/roles.png" id="icons" alt="rolesicon">
                    Roles
                </a>
                <a class="sidebar-link" href="/Affiliations/CreateAffiliate">
                    <img class ="img-fluid"src="/images/affiliations.png" id="other" alt="affiliationsicon">
                    Affiliations
                </a>
                <a class="sidebar-link" href="/Transactions/Transactions">
                    <img class ="img-fluid"src="/images/transactions.png" id="icons" alt="transactionsicon">
                     Transactions
                </a>
                <a class="sidebar-link" href="/Listings/Listings">
                    <img class ="img-fluid"src="/images/listings.png" id="icons" alt="transactionsicon">
                    Listings
                </a>
                <a class="sidebar-link" href="/Properties/Properties">
                    <img class ="img-fluid"src="/images/properties.png" id="icons" alt="propertiesicon">
                    Properties
                </a>
                <a class="sidebar-link" href="/People/People">
                    <img class ="img-fluid"src="/images/people.png" id="other" alt="peopleicon">
                    People
                </a>
                <a class="sidebar-link" href="/Leads/Leads">
                    <img class ="img-fluid"src="/images/leads.png" id="icons" alt="leadsicon">
                    Leads
                </a>
                <a class="sidebar-link" href="/Entities/Entities">
                    <img class ="img-fluid"src="/images/entities.png" id="icons" alt="entitiesicon">
                    Entities
                </a>
            </nav>
        </div>
    </div>
}

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!ViewData.ContainsKey("HideFooter"))
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Kelle Solutions - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>