@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<head>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/manageaccount.css" />
</head>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="Old Password" class="form-label">Old Password</label>
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="New Password" class="form-label">New Password</label>
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Confirm Password" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            <button type="submit" id="button" class="w-100 btn btn-lg btn-primary">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
