@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<head>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/manageaccount.css" />
</head>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="card-body">
                @if (Model.IsEmailConfirmed)
                {
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                            <div class="input-group-append">
                                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                            </div>
                        <span asp-validation-for="Email" class ="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                        <span asp-validation-for="Email" class ="text-danger"></span>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                }
                <div class="mb-3">
                    <label for="Input.NewEmail" class="form-label">New Email</label>
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <button id="button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
