@page
@model RolesModel
@{
    ViewData["Title"] = "Transactions";
}

<link rel="stylesheet" href="~/css/roles-transactions.css" />

<div class="header-section">
    <h3>Transactions</h3>
</div>

<div class="transactions-container">
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Listing ID</th>
                <th>Contract Date</th>
                <th>Closing Date</th>
                <th>Transaction Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>