@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" href="~/css/register.css" />

<div class="container mt-5">
    <header>
        <img src="~/images/KELLE_logo_fullcolor.png" alt="Kelle Logo"  style="margin-bottom: 20px;">
    </header>
    <div class="row justify-content-center">
        <div class="col-lg-6">
        <h2 class="text-center mb-4" style="margin-bottom: 20px;">Your password has been successfully changed!</h2>
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                    </div>
                    <h4 class="text-center mb-4">
                        <div class = "log-in-heading" > 
                        If you're not redirected automatically, please click the button below to return to the login page.
                        </div>

                        <div class="d-grid">
                        <a asp-page="../Login/Login"  class="btn btn-primary btn-lg"style="margin-top: 20px;">Return to Login</a>
                        </div>

                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

