body {
    color: white; /*set background color to white*/
    font-family: 'sora', sans-serif;
}

h1 {
    text-align: center; /* centering the text */
    color: #332d2d;
    font-weight: 630;
    font-size: 45px;
    font-family: 'sora', sans-serif;
    position: relative;
    bottom:10;
}

h2 {
    text-align: center; /* centering the text */
    color: #332d2d;
    font-weight: 350;
    font-size:25px;
    font-family: 'sora', sans-serif;
    position: relative;
    top: 5px;
}

img {
    /*resizing KELLE's logo and centering it*/
    height: auto;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button { /*button*/
    position: relative;
    left: 920px; /*positioning*/
    top: 90px;
    width: 150px; /*button's width*/
    height: 40px; /*button's height*/
    background-color:#4a154b; /*button color*/
    border-radius: 500px; /*making button round*/

}
#Submit { /*adjustments to word "next*/
    color: white;
    font-weight: 500;
    font-family: 'sora', sans-serif;
}
.form-floating {
    left: 210px; /*position of text box*/
}

.form-control {
    border-radius: 0; /*making outer border of field not round*/
    border: none;
    background-color: #e8e9ed;
}

.form-label {
    color: rgb(119, 110, 110,100); /*making color of text of input gray*/
}