@page
@model IndexModel

@* Setting the title of the page to "Home page" for the browser tab *@
@{
    ViewData["Title"] = "Home page";
}

@* Main content of the page, displayed in the center *@
<div class="text-center">
    @* Large heading welcoming users to the site *@
    <h1 class="display-4">Welcome</h1>
</div>
