@page
@model PrivacyModel

@* Setting the title of the page to "Privacy Policy" *@
@{
    ViewData["Title"] = "Privacy Policy";
}

@* Display the title on the page using ViewData *@
<h1>@ViewData["Title"]</h1>

@* Placeholder content to inform users that this page is for the site's privacy policy *@
<p>Use this page to detail your site's privacy policy.</p>
